<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Anime List</title>
    <!-- CSS Link? -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/dashboard.css') }}">
</head>
<body>
    <div class=nav_bar>
        <h1>Welcome {{user.first_name}}!</h1>
        <button class=logout>
            <a  href="/logout">Logout</a>
        </button>
    </div>
    <h3>My List</h3>
    <div class = container>
        <div class=table_content>
            <table>
                <thead>
                    <tr>
                        <td> 
                            <a href="/anime/info">Title</a>  
                        </td>
                        <td> Current Status </td>
                    </tr>
                </thead>
                <tbody> <!-- Fix My List Box to Show my list -->
                </tbody> 
            </table>
        </div>
        <div >
            <form action="/anime_search" id="searchBar" class = searchBar>
                <label for="search">Search an Anime Title</label>
                <input id="search" type="text" autocomplete="off" />
                <div id="clear" class="none button clear" role="button" tabindex="0" aria-label="clear search terms"> X </div>
                <button id="searchButton" class="button searchButton" type="submit" aria-label="Submit button">Search</button>
            </form>
        </div>
    </div>
    <button class=edit_list>
        <a href="/mylist/edit">Edit List</a>  <!-- Fix Edit Link Later -->
    </button>





    <!-- JS Link?-->
    <script type="text/javascript" src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>